* {
    margin:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:white;
}

li{
    list-style: none;
}

section{
    overflow: hidden;
    animation: appear 1s ease-in-out;
}

@keyframes appear {
    from {opacity: 0; transform: translate(-50px);}
    
}

button{
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#header{
    animation: none;
    background-color:rgba(26, 164, 81, 0.71);
    box-shadow: 1px -7px 8px 2px rgba(0, 0, 0, 0.408);
    height: 55px;
    z-index: 100;
    min-width: 100%;
      bottom: 0;
    width: 15%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu>ul{
    display: flex;
}

#menu li:hover{
    background-color: black;

}

#menu > ul>li>a{
    margin:6.8px 15px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu > ul>li>i{
    padding: 1px;
    color:white;
}

/* #main{
    scroll-behavior:smooth;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    scroll-snap-type: y mandatory;
    overflow:hidden auto;
    display: flex;
    flex-direction: column;
}

#main> .section{
    scroll-snap-align: start;
    padding:15px;
    min-width: 100%;
    min-height: 100%;
    transition: 1s;
    border: 1px solid rebeccapurple;
} */

/* 
 .scroll-box {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 10px;
}

.scroll-box.vertical {
    flex-direction: column;
    overflow: hidden auto;
    scroll-snap-type: y mandatory;
}
.item {
    scroll-snap-align: start;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50pt;
}
.scroll-box::-webkit-scrollbar {background-color:#fff; height:4px; width: 4px;}
.scroll-box::-webkit-scrollbar-track {background-color:#fff}
.scroll-box::-webkit-scrollbar-thumb {background-color:#babac0; border-radius:4px}
 */
