@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

body{
    font-family: 'Orbit', sans-serif;
    overflow-y: hidden;
}

/* 홈화면 배너 모두를 감싼 전체 컨테이너 */
.home_banner_con {
  transition: 1s;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: nowrap;
}

/* 홈화면 배너 각각에 대한 컨테이너(배너 간의 경계 역할) */
.home_banner_boundary {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

/* 배너들 */
.home .home_banner_boundary> .home_banner {
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  opacity: 1;
  z-index: -1;
}

/* 홈 화면 중간에 보이는 이미지 */
.home .home_banner_boundary> .home_message {
    height: 60px;
    z-index: 1000;
    border-radius: 5px;
    position: fixed;
    font-size: 1.5rem;
    color:white;
    float: left;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
    min-width: 100%;
}

/* 홈 화면 중간 텍스트에 보면 보이는 노란색 마크 */
.home .home_banner_boundary> .home_message>mark{
    border-radius: 5px;
    opacity: 0.9;
    transition: 0.3s;
}

.home .home_banner_boundary> .home_message>mark:hover{
    background-color: black;
    color:rgb(255, 255, 255);
}

/* 홈 화면에 보면 보이는 양쪽 두개 버튼의 컨테이너 */
.home_banner_btn {
  border-radius: 50%;
  z-index: 100;
  color: white;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.59);
  font-size: 1.5rem;
  transition: 0.1s;
}

.home_banner_btn:hover {
  background-color: goldenrod;
  cursor: pointer;
}

/* 홈 화면에 보면 보이는 좌측과 우측 각각 버튼 */
#prev {
  left: 2.5rem;
}
#next {
  right: 2.5rem;
}


/* 마지막 슬라이드에 보면 화단에 보이는 검은색 박스 */
.last_message_con{
    text-align: center;
    line-height: 2;
    z-index: 1000;
    position: fixed;
    width: 100%;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.464);
    height: 100px;
    color:white;
    left: 50%;
    top: 75%;
    transform: translate(-50%,20%) scale(0.9);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.last_message_con.on{
    visibility: visible;
    transform: translate(-50%,-20%) scale(1.0);
    opacity: 1;
}

.last_message_con>p{
    margin-top: 1rem;
}

/* 마지막에 보이는 검은 박스 내에 보이는 삼각형 이모티콘 */
.last_message_arrow{
    text-align: center;
    transform: translateY(0);
    animation: updown 1s infinite alternate linear;
}

@keyframes  updown {
    from  {transform: translateY(-5px);}
}